[Unit]
Description=Apache Tomcat Webserver
After=network.target

[Service]
Type=forking

User= {{ tomcat_user }}
Group= {{ tomcat_group }}

Environment=JAVA_HOME= {{ java_path }}
Environment=CATALINA_HOME=/home/ubuntu/tomcat
Environment=CATALINA_BASE=/home/ubuntu/tomcat
Environment=CATALINA_PID=/home/ubuntu/tomcat/temp/tomcat.pid

ExecStart=/home/ubuntu/tomcat/bin/startup.sh
ExecStop=/home/ubuntu/tomcat/bin/shutdown.sh

[Install]
	WantedBy=multi-user.target
