[Unit]
Description=Apache Tomcat Webserver
After=network.target

[Service]
Type=forking

User= {{ tomcat_user }}
Group= {{ tomcat_group }}

Environment=JAVA_HOME= {{ java_path }}
Environment=CATALINA_HOME=/usr/share/tomcat
Environment=CATALINA_BASE=/usr/share/tomcat
Environment=CATALINA_PID=/usr/share/tomcat/temp/tomcat.pid

ExecStart=/usr/share/tomcat/bin/startup.sh
ExecStop=/usr/share/tomcat/bin/shutdown.sh

[Install]
	WantedBy=multi-user.target
